body {
  font-family: 'Montserrat';
  background: linear-gradient(to bottom right, #fc1da7, #fba506);;
}

.header {
  color: #F8F8F8;
  padding: 25px;
  text-align: center;
}

.profile {
  padding: 25px;
  text-align: center;
  font-size: 40px;
}

#profile-img {
  max-width: 100%;
  border-radius: 50%;
}

#bio-link {
  color: #F8F8F8;
}

#bio-link:hover {
  color: black;
}
